.agrupa-cards {
    display: flex;
    flex-wrap: wrap;
}

.section-filtre {
    margin: 20px auto;
    text-align: center;
}

.section-filtre button{
    border: none;
    outline: none;
    background-color: rgb(119, 0, 0);
    border-radius: 5px;
    height: 25px;
    color: white;
    font-size: medium;
    width: 150px;
}

.section-filtre button:focus{
    color: rgb(119, 0, 0);
    border: 1px solid rgb(119, 0, 0);
    background-color: white;
}

.section-filtre p{
    color: rgb(119, 0, 0);
}

.div-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 15px 15px 75px -45px rgba(147, 149, 163, 0.5);
    margin: 20px;
}

.div-card h2 {
    color: red;
    margin-left: 20px;
}


.div-card p {
    margin-left: 20px;
    margin-top: 0px;
}